body {
    background-image: url('pixel_stars.gif');
    background-size: cover;
}

div {
    font-family: "Geneva",sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #cfa8f0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #d1b6fb;
    color: white;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

p {
    font-family: "Geneva",sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #cfa8f0;
}

mainImage {
    max-height: 200px;
    max-width: 320;
}
